body{
	font-family: Verdana;
}
/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  top: 0;
}

/* Control the left side */
.left {
  left: 0;
  width: 40%;
  background-color: rgb(238,167,0);
}

/* Control the right side */
.right {
  right: 0;
  width: 60%;
  background-color: white;
}

/*content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container*/
.centered img{
	max-height: 50%;
	max-width: 100%;
	padding-bottom: 50%;
}

/*Label font and color*/
label{
	font-family: Encode Sans Semi Expanded;
	color: rgb(153,157,176);
}

/* Full-width inputs */
input[type=text], input[type=password], select {
    width: 100%;
    padding: 2.5%;
    margin-bottom: 3%;
    margin-top: 1%;
    border: 0;
  	background: transparent;
  	border-bottom: 1.25px solid rgb(153,157,176);
}
/*Select*/


/*Input focus to green*/
input:focus{
	outline:0;
	border-bottom: 2px solid rgb(0,204,102);
}
/*Select focus to green*/
select:focus{
	outline:0;
	border-bottom: 2px solid rgb(0,204,102);
}

/* Set a style for all buttons */
button {
    background-color: rgb(0,204,102);
    padding: 3%;
    margin-top: 3%;
    margin-left: 25%;
    color: white;
    font-size: 100%;
    font-weight: 700;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 25px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
/*Legend font*/
legend{
	font-family: Encode Sans Semi Expanded;
	font-size: 195%;
	margin-bottom: 10%;
}

/* Add padding to containers */
.container {
    padding: 19%;
    padding-top: 10%;
}
